.git
.venv
.env
.aws
data
artifacts
checkpoints
.artifacts
capstones/country-revenue/data/
capstones/country-revenue/logs/
capstones/country-revenue/models/
capstones/country-revenue/reports/figures/
**/__pycache__

